@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
main > section > div,
nav > section > div,
footer > section > div {
  @apply container mx-auto px-5;
}
